@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap')

$dark: #1B141B
$white: #968896
$yellow-cream: #DAFFC5
$blue-cream: #C5E2FF
body
    background: $dark
    color: $white
h1
    font-size: 2rem
    font-family: 'Poppins', sans-serif
    font-weight: 700
.accordion
    width: 40%
    height: 80px
    background: $yellow-cream
    padding: 10px
    margin: 1rem
    .text-accordion
        background: $blue-cream
        // display: none
